*
!*/
.*
!.gitignore
!*.h
!*.c
!*.cc
!*.go
!*.sln
!*.vcxproj
!*.vcxproj.filters

!*.ini
!*.yaml
!*.md
!*.pdf
!*.xlsx
!*.docx
!*.sh

!Makefile*
!Dockerfile*

!lib/**/*.dll
!lib/**/*.lib
!lib/**/*.so

cmake-build-debug/
cmake-build-debug/*

